h2 {
  color: #ffc3a2;
}

thead {
  color: #a2bfbd;
}

tbody {
  overflow-y: scroll;
  height: 60%;
}

.uneditable {
  text-decoration: none;
  border: none;
  color: white;
  background-color: hsla(214, 10%, 14%, 0%);
  cursor: pointer;
}

.editorable {
  border: none;
  color: white;
  background-color: hsl(200, 3%, 17%);
  cursor: text;
}

tbody td:hover {
  cursor: pointer;
}

.hide {
  display: none;
}

.visible {
  display: visible;
}

.visible :hover {
  color: #ffc3a2;
}
